.content .dossiers-container .cellule{
    margin-left: 40px;
    margin-top: 5px;
} 

.content .dossiers-container .cellule-uploader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 50px;
}

.content .dossiers-container .dossier-title{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10px;
}

.content .dossiers-container .dossier-title img {
    width: 25px;
    height: 25px;
}


.content .dossiers-container{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    position: relative;
}

.content .dossiers-container .dossier-back-container{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    height: 15px;
    margin-bottom: 30px;
}

.content .dossiers-container .dossier-back-container .backbuton{
    margin: 10px;
    background-color: rgb(61, 61, 225);
    width: 60px;
    padding: 5px;
    height: 15px;
    border-radius: 7px;
}

.content .dossiers-container .dossier-back-container .backbuton a{
    color: white;
    text-decoration: none;
    text-align: center;
    padding-left: 5px;
}

.content .dossiers-container .dossier-back-container  img{
    margin-top: 10px;
    width: 25px;
    height: 25px;
}

.content .dossiers-container .dossier .dossier-elt{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    gap: 10px;
}

.content .dossiers-container .image-dossier img{
    width: 25px;
    height: 25px;
}

.content .dossiers-container .dossier .dossier-elt div  a{
    text-decoration: none;
}

.content .dossiers-container .dossier .dossier-elt div a:hover {
    color: rgb(12, 12, 88);
}

.content .dossiers-container .dossier .dossier-elt a{
    display: block;
}

.content .dossiers-container .dossier .dossier-elt .cellule_name{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    gap: 100px;
    flex: 1;
    padding-right: 50px;
}

.content .dossiers-container .dossier .dossier-elt .cellule_name img {
    width: 20px;
    height: 20px;
}

.dossiers-container .creerDossier{
    margin-top: 13px;
    margin-left: 500px;
    width: 120px;
    height: 25px;
    background-color: rgb(61, 61, 225);
    border-radius: 7px;
}

.dossiers-container .creerDossier a{
    text-decoration: none;
    color: white;
    margin-left: 5px;
}

.dossiers-container .creerDossier:hover{
    background-color: rgb(12, 12, 88);
}

.all_dossiers{
    /* position:absolute; */
    overflow:auto;
}