.password_change {
    width: 80%;
    margin-left: 120px;
    background-color: rgb(227, 224, 224);
    padding: 20px;
    margin-left: 30px;
    border-radius: 7px;
    
}

.headPasswordCh {
    font-size: 25px;
    margin-bottom: 20px;
    margin-left: 160px;
}

.password_change p label {
    font-weight: bold;
    font-size: 15px;
    width: 100px;
}

.password_change ul li {
    font-size: 10px;
    color: rgb(178, 80, 80);
    list-style-type: decimal;
}

.password_change ul {
    margin: 0px;
}

.boutonPasswordVal {
    color: white;
    background-color: #4350C3;
    border-color: white;
    border-radius: 5px;
    border: none;
    margin-left: 200px;
    width: 100px;
}

.boutonPasswordVal:hover {
    background-color: rgb(12, 12, 88);
}

.password_change p input {
    border-radius: 5px;
}

.password_change {
    opacity: 0.1px;
}