{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="button-back">
    <div>
        <img src="{% static 'images/bouton-retour.png' %}" alt="">
    </div>
    <div class="back">
        <a href="{% url 'mon-compte' %}">Back</a>
    </div>
</div>
<h2 class="headPasswordCh">Changement de mot de passe</h2>
<div class="password_change">
    <form class="password_change_form" method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <button class="boutonPasswordVal" type="submit">Valider</button>
    </form>
</div>

{% endblock content %}