{%load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Archive App</title>
  <link rel="stylesheet" href="{% static '../static/base.css' %}" />
  <link rel="stylesheet" href="{% static '../static/home.css'%}" />
  <link rel="stylesheet" href="{% static '../static/search-result.css'%}">
  <link rel="stylesheet" href="{% static '../static/dossier.css'%}">
  <link rel="stylesheet" href="{% static '../static/cellule_view.css'%}">
  <link rel="stylesheet" href="{% static '../static/mon_compte.css'%}">
  <link rel="stylesheet" href="{% static '../static/updated_profil.css'%}">
  <link rel="stylesheet" href="{% static '../static/password_change.css'%}">
  <link rel="stylesheet" href="{% static '../static/signup.css'%}">
</head>
<body>
  <main>
    <div class="sidebar">
      <div class="appUsername">
        <h5>MEKIN ARCHIVE</h5>
        {% if user.profile_photo %}
          <img src="{{user.profile_photo.url}}" alt="">
        {% else %}
          <img src="{% static 'images/profil.png'%}" alt="">
        {% endif %}
        {% if user.is_authenticated %}
        <p>Salut, {{user.username}} </p>
      </div>
      <nav class="navbar">
        <div class="bt-navbar">
          <img src="{% static './images/utilisateur.png' %}" alt="">
          <span>
              <a href="{% url 'mon-compte' %}"> Mon Compte </a>
          </span>
        </div>
        <div class="bt-navbar">
          <img src="{% static './images/tableau-de-bord.png'%}" alt="">
          <span>
            <a href="{% url 'dashboard' %}">Dashboard</a>
          </span>
        </div>
        <div class="bt-navbar ">
          <img src="{% static './images/dossier.png'%}" alt="">
          <span>
            <a href="{% url 'dossier' %}"> Dossier </a>
          </span>
        </div>
        <div class="bt-navbar bt-deconnexion">
          <img src="{% static './images/deconnexion.png'%}" alt="">
          <span>
            <a href="{% url 'logout' %}"> Se déconnecter </a>
          </span>
        <div>
        </div>
        </div>
        {% endif %}
      </nav>
    </div>
    <div class="content">{% block content %}{% endblock content %}</div>
  </main>
</body>

</html>