{% extends 'base.html' %}
{% block content %}
<div>
    <h3>Dashbord</h3>
    <div>
        <div class="total_user">
            <p>users</p>
            <span>{{total_user}}</span>
        </div>
        <div class="total_cellule">
            <p>cellules</p>
            <span>{{total_cellule}}</span>
        </div>
        <div class="total_archive">
            <!-- <span>{{total_archive}}</span> -->
        </div>
        <div class="total_archive_now">
            <!-- <span>{{total_archive_now}}</span> -->
        </div>
    </div>
</div>
{% endblock content %}